---
export const projects = [
    {
        image: "projects/noti.webp",
        title: "Noti",
        description:
            "Noti is a note-taking application built in 1 day, serving as an experiment to utilize Vue.js as the frontend.",
        link: "https://noti-xce2.onrender.com/",
        tags: ["Vuejs", "Django", "Render"],
    },
    {
        image: "projects/cmurman.webp",
        title: "Murman Fitness",
        description: "Yoga teacher & ISSA certified trainer website",
        link: "http://cmurman.com/",
        tags: ["Wordpress"],
    },
    {
        image: "projects/pypconsultorias.webp",
        title: "PyPConsultorias",
        description: "Simple, responsive and usefull landing page.",
        link: "http://cmurman.com/",
        tags: ["Wordpress"],
    },
];
---

<h2 class="text-white text-3xl font-bold leading-none text-center mb-4 pt-6">
    Happy Customers
</h2>

<section
    class="flex flex-row items-center justify-center gap-4 pt-10 flex-wrap"
>
    {
        projects.map(({ link, image, title, description, tags }, index) => (
            <div
                class="max-w-sm rounded overflow-hidden shadow-lg border"
                style={{ marginBottom: index % 3 === 2 ? "20px" : "0" }}
            >
                <img class="w-full" src={image} alt={title} />
                <div class="px-6 py-4">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-300 dark:text-white">
                        {title}
                    </h5>{" "}
                    <p class="text-gray-700 text-base">{description}</p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    {tags.map((tag, index) => (
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                            {`#${tag}`}
                        </span>
                    ))}
                </div>
            </div>
        ))
    }
</section>
